/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 26/09/2015, 15:32:39
    Author     : igor
*/

.padding-left-1x {
    padding-left: 1em;
}
.padding-left-2x {
    padding-left: 2em;
}
.padding-left-3x {
    padding-left: 3em;
}
.padding-right-1x {
    padding-right: 1em;
}
.padding-right-2x {
    padding-right: 2em;
}
.padding-right-3x {
    padding-right: 3em;
}
.padding-top-1x {
    padding-top: 1em;
}
.padding-top-2x {
    padding-top: 2em;
}
.padding-top-3x {
    padding-top: 3em;
}
.padding-bottom-1x {
    padding-bottom: 1em;
}
.padding-bottom-2x {
    padding-bottom: 2em;
}
.padding-bottom-3x {
    padding-bottom: 3em;
}

.margin-left-1x {
    margin-left: 1em;
}
.margin-left-2x {
    margin-left: 2em;
}
.margin-left-3x {
    margin-left: 3em;
}
.margin-right-1x {
    margin-right: 1em;
}
.margin-right-2x {
    margin-right: 2em;
}
.margin-right-3x {
    margin-right: 3em;
}
.margin-top-1x {
    margin-top: 1em;
}
.margin-top-2x {
    margin-top: 2em;
}
.margin-top-3x {
    margin-top: 3em;
}
.margin-bottom-1x {
    margin-bottom: 1em;
}
.margin-bottom-2x {
    margin-bottom: 2em;
}
.margin-bottom-3x {
    margin-bottom: 3em;
}

/* TABLE */
tr.clickable-row:hover{
  cursor: pointer;
}

.slides .slidesjs-navigation {
    margin-top:5px;
}
.slidesjs-container {
    margin-bottom: 1em;
}

a.slidesjs-next,
a.slidesjs-previous,
a.slidesjs-play,
a.slidesjs-stop {
    background-image: url(../img/btns-next-prev.png);
    background-repeat: no-repeat;
    display:block;
    width:12px;
    height:18px;
    overflow: hidden;
    text-indent: -9999px;
    float: left;
    margin-right:5px;
}

a.slidesjs-next {
    margin-right:10px;
    background-position: -12px 0;
}

a:hover.slidesjs-next {
    background-position: -12px -18px;
}

a.slidesjs-previous {
    background-position: 0 0;
}

a:hover.slidesjs-previous {
    background-position: 0 -18px;
}

a.slidesjs-play {
    width:15px;
    background-position: -25px 0;
}

a:hover.slidesjs-play {
    background-position: -25px -18px;
}

a.slidesjs-stop {
    width:18px;
    background-position: -41px 0;
}

a:hover.slidesjs-stop {
    background-position: -41px -18px;
}

.slidesjs-pagination {
    margin: 7px 0 0;
    float: right;
    list-style: none;
}

.slidesjs-pagination li {
    float: left;
    margin: 0 1px;
}

.slidesjs-pagination li a {
    display: block;
    width: 13px;
    height: 0;
    padding-top: 13px;
    background-image: url(../img/pagination.png);
    background-position: 0 0;
    float: left;
    overflow: hidden;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
    background-position: 0 -13px
}

.slidesjs-pagination li a:hover {
    background-position: 0 -26px
}
